<!DOCTYPE html>
<html>
  <head>
    <title>Investi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  <script type="text/javascript">
    window.logo = "<%= image_url('investiLogo.png')%>"
    window.login = "<%= image_url('loginPage.jpg')%>"
   
  </script>

  <body>
    <%= yield %>
  </body>
</html>
