<!DOCTYPE html>
<html>
  <head>
    <title>Investi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'Favicon.png' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  <script type="text/javascript">
    window.logo = "<%= image_url('investiLogo.png')%>"
    window.iphone_gif = "<%= image_url('iphone.mp4') %>"
    window.card_and_iphone = "<%= image_url('cardIphoneImage.png')%>"
    window.gitHubIcon = "<%= image_url('githubIcon.png') %> "
    window.linkedlnIcon ="<%= image_url('linkedinIcon.png') %>"
    window.iexapikey = "<%= Rails.application.credentials.iex_client[:publishable_token] %>"
    window.newsapikey = "<%= Rails.application.credentials.iex_client[:news_api_token] %>"
    window.Fmpapikey = "<%= Rails.application.credentials.iex_client[:fmp_api_key] %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
